body {
    margin: 0;
    background: #151616;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #343434;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: var(--text-color);
    text-decoration: none;;
}

html{
    margin: 0;
    padding: 0;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.navbar{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-button{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.2);
}

.icon-button svg{
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}

.dropdown{
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item{
    height: 50px;
    display:flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover{
    background-color: #525357;
}

.icon-right{
  margin-left: auto;
}

.app{
  overflow: hidden;
}

.landingPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.landingPageTitle{
  font-size: 10rem;
  margin: auto;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  height:13rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.titleAnimation{
  background-color: Black;
  position: absolute;
  margin: auto;
  height:13rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  animation: underline-animated 3s forwards 1;
}



@keyframes underline-animated {
  0% {
    left: 0;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}

.enterButton{
  color: whitesmoke;
  font-size: 4rem;
  margin: auto;
  color: whitesmoke;
  position: absolute;
  text-align: center;
  height:13rem;
  top: 22rem;
  right: 0;
  bottom: 0;
  left: 0;
}

#profile{
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.profilePage{
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 100vh;
  gap: 2rem;
  min-height: 100vh;
  width: 95vw;
  overflow: hidden;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

#profileInformation{
  width: 90%;
  height: 24rem;
  padding: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#profilePictureContainer{
  width:90%;
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#profilePicture{
  width: 20rem;
  height: 20rem;
  background: black;
  border-radius: 50%;
}

#something{
  width: 100%;
  height: 52rem;
  border-radius: 15px;
  background-color: var(--bg);
}

#navTitle{
  margin: 0;
  color: #A9A9A9;
}

#imageSlider{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#previousArrow{
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
  
}

#currentImage{
  width: 750px;
  height: 750px;
  border: 1px solid black;
  margin-right: 5rem;
  margin-left: 5rem;
}

#nextArrow{
  height: 100px;
  width: 100px;
}

.image{
  height: inherit;
  width: inherit;
}

.hidden{
  display: none;
}

